<p id="notice"><%= notice %></p>

<h1>Последние добавления</h1>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Дата</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, page %></td>
        <td><%= page.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать страницу', new_page_path %>
