<p id="notice"><%= notice %></p>

<h1>Последние добавления</h1>


<% @pages.each do |page| %>
  <%= link_to qr_code_for(page_url(page)), page, :title => page.title %>
<% end %>

<br>

<%= link_to 'Создать страницу', new_page_path %>
